<div class="modal" style="display:@Display">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">@MessageTitle</h1>
                <button type="button" class="close" @onclick="Close">×</button>
            </div>
            <div class="modal-body">
                <p>@MessageText</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" @onclick="Close">Close</button>
            </div>

        </div>
    </div>
</div>

@code {
    string Display = "none";
    [Parameter]
    public string MessageText { get; set; }
    [Parameter]
    public string MessageTitle { get; set; }
    private bool _ShowAlert;
    [Parameter]
    public bool ShowAlert
    {
        get { return _ShowAlert; }
        set
        {
            
            _ShowAlert = value;
            if (value) Display = "block"; else Display = "none";
        }
    }

    void Close()
    {
        ShowAlert = false;
    }
}
