<div class="modal" style="display:@Model.Display">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">@Model.MessageTitle</h1>
                <button type="button" class="close" @onclick="Model.Hide">×</button>
            </div>
            <div class="modal-body">
                <p>@Model.MessageText</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" @onclick="Model.Hide">Close</button>
            </div>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public Data.ModalMessage Model { get; set; }
}