@page "/login"
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@inject HttpClient client
    <div class="container">
        <h3>SignIn</h3>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Email" @bind="@Email" class="form-group" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" @bind="@Password" class="form-group" />
        </div>
        <a class="ml-md-auto btn btn-primary"
           href="/login?paramUsername=@Email&paramPassword=@Password"
           target="_top">Login</a>
    </div>

@code {
    public string Email { get; set; }
    public string Password { get; set; }
}
